@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

h1 {
    font-size: xx-large;
    margin-left: 2%;
}

ul {
    border-style: none !important;
}

header {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
    position: fixed;
    background-color: black;
    width: 100%;
}

main {
    padding-top: 120px !important;
    margin-top: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: black;
}

input {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100%;
    background-color: black;
}

/* The code for fonts and paragraph's styles should (or could) be simplified
Sorry, but I have no efforts with CSS.
I'm just a coder who support its sthetics apps with CSS Frameworks */

.user-font {
    font-weight: 400;
    font-size: larger;
}

.ns5-font {
    font-weight: 300;
    font-style: italic;
    font-size: larger;
}

.main-div {
	width: 100%;
    height: max-content;
	overflow-y: scroll;
}

.mensajes {
    height:calc();
    width: 90%;
}

.texto-bot {
    margin: 20px;
    padding: 14px;
    border-radius: 20px 16px 16px 0px;
    text-align: left;
    background-color: rgb(64, 74, 84);
    color: whitesmoke;
}

.texto-user {
    margin: 20px;
    padding: 14px;
    border-radius: 16px 16px 0px 20px;
    text-align: right;
    background-color: lightslategray;
    color: yellow;
}

.hora-text {
    font-size: x-small;
}

div.row {
    width: 90%;
}