@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.user-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sonny-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.main-div {
    height: 70%;
	width: 100%;
	border: 1px solid gray;
	background: grey;
	overflow-y: scroll;
}

.mensajes {
    height: auto;
}

.texto-bot {
    margin: 20px;
    padding: 14px;
    border-radius: 20px 16px 16px 0px;
    text-align: left;
    background-color: rgb(64, 74, 84);
    color: whitesmoke;
}

.texto-user {
    margin: 20px;
    padding: 14px;
    border-radius: 16px 16px 0px 20px;
    text-align: right;
    background-color: lightslategray;
    color: yellow;
}