@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* https://fonts.google.com/icons */



body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.user-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.sonny-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

